@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
* {
    box-sizing: border-box;
    
}
body {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    font-family: "poppins", sans-serif;
    margin: 0;
}
.add {
    background-color: rgb(198, 230, 82);
    color: rgb(16, 17, 18);
    cursor: pointer;
    border-radius: 3px;
    border: none;
    padding: 0.5rem;
    margin: 2rem auto;
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.note {
    background-color: aliceblue;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    height: 400px;
    width: 400px;
}  

.note .tools {
    background-color: rgb(136, 165, 31);
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}
.note .tools button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 00.5rem;
}

.note .main {
    background-color: #eee;
    overflow: hidden;
    height: 400px;
    width: 100%;
}

.note textarea {
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 400px;
    width: 100%;
}

.note .hidden {
    display: none;
 }

